@import "partials/variables";

.body{
	margin: 100px 25px 0 25px;
	font-family: $heading;
}
#body-wrapper{
	font-family:$heading;
}
p{
	color: $p-gray;
}
a{
	&:hover{
		text-decoration: underline;
	}
}
#sign-in{
	border-right: 2px solid $pup-darkgold;
}
#sign-in-page{
	a{
		color: $pup-darkgold2;
	}

}

.AtoZ{
	font-family: $heading;
	.Journals-AtoZ-list{
		text-align: center;
	}
	.nav-vert{
		text-align: right;
	}
	a{
		color: black;
		&:visited{
			color: $pup-maroon;
		}
	}
	h1{
		margin: initial;
		color: $pup-darkgold;
		margin-bottom: 20px;
		font-family: $title;
		font-weight: bold;
	}
	.AtoZ_list{
		li{
			display: inline;
			margin-right: 5px;
		}
	}
	.letter{
		margin: 20px;
		font-size: 2em;
		border-bottom: 1px solid $footer-gray;
	}
	.nav-vert{
		color: initial;
		font-size: 1.2em;
	}
	.left-nav{
		border-right: 1px solid $footer-gray;
	}
	.left-align{
		text-align: left;
	}
}
.admin-journal{
	h1{
		font-family: $title;
		color: $pup-darkgold;
	}
	.select{
		padding:initial;
	}
	.h6-border{
		border-top: 1px solid $footer-gray;
			margin-top:30px;
		font-weight: bold;
		padding-top: 15px;
		font-family: $brand;
	}
}
.myAccount{
	a{
		color: $pup-darkgold2;
	}
	.body{
		font-family: $heading;
		font-weight: 700;
	}
	#accountBox{
		height: 400px;
		border-right: 2px solid $pup-maroon2;

		text-align: center;
		
	}
	#panel{
		background: red;
	}
	img{
			height: 200px;
			position: relative;
			bottom: 25px;
		}
		.bg{
		    height:200px;
		    position: relative;
					bottom: 25px;
		    border-radius:250px;
		    font-size:50px;
		    color:#fff;
		    line-height:100px;
		    text-align:center;
		    background:$pup-maroon2;
		    span{
		    	position: relative;
		    	top: 55px;
				}
    		}
	.clip-circle {
		
	  clip-path: circle(80px at 50% 52%);
	}
	#account-settings{
		text-align: initial;
		list-style-type: circle;
		a{
			color: $footer-gray;
		}
		li{
			margin: 0px 0 5px 20px;
		}
	}
	#welcome{
		margin-top: 20px
	}
	.right-col{
		h1{
			border-bottom: 2.5px solid $footer-gray;
			color: $pup-darkgold;
			font-family: $title;
		}
		ul{
			margin: initial;
		}
		.user_panel{
			height: 85px;
			
			h6{
				padding: 10px 0 0 20px;
				color: $footer-gray;
			}
			p{
				position: relative;
				bottom: 10px;
				left: 20px;
				color: $footer-gray;
			}
		}
		li{
			margin-bottom: 5px;
		}
		li:nth-child(2n+1)
			{
				a{
					color: $pup-maroon2;
				}
		}

		}
}

.dashboard{
	h1{
		margin-left: 20px;
	}
	a{
		color: $pup-darkgold2;
	}
}
.push{
	padding: 45px;
}
.push-15{
	padding: 15px;
}
#announcement{
	
	li{
		margin-top: 10px;
	}
	a{
		color: $p-gray;
	}
	h1>a{
		color: $pup-maroon;
	}

}
#register-page{
	button{
		margin: 45px 0 45px 0;
	}
	margin-left: 45px;

}
#edit-account{
	margin-left: 45px;
	button{
		margin: 15px 0 15px 0;
	}
}

#exampleHelpText{
	color: $footer-darkgray;
	opacity: 0.7;
}
//
@mixin btn($background, $pup-darkgold) {
  border: 3px solid rgba(255,255,255,0); // You'll want to customize this
  color: $pup-darkgold;
  background: $background;
  &:hover, &:focus, &:active {
    color: $background;
    background: $pup-darkgold;
    border-color: $background;
  }
}

.btn {
  padding: 1em;
  line-height: 1em;
  display: inline-block;
  letter-spacing: 0.1em;
  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
  &.-yellow {
    @include btn($pup-darkgold, #fff);
  }
}
//
label{
	font-size: 1.2em;
}
.help-text{
	font-size: 1em;
}
.selector{
	margin-bottom: 15px;
	position: relative;
	right: 215px;
}
.text-area{
	margin-bottom: 15px;
}
.form-error{
	font-size: .9em;
}
.journal-title{
	font-family: $title;
	font-weight: bold;
	font-size: 2em;
}
.journal-thumb{
	height: 150px;
	margin: 10px;
}
.panel-title{
	background: $footer-gray;
	height: 50px;
	color: white;
	h6{
		position: relative;
		top: 10px;
		left: 15px;
	}
}
.panel-content{
	margin: 20px;
}
.panel{
	border: 1px solid rgba(10, 10, 10, 0.25);
}
.journal-menu{
	background: $footer-gray;
	a{
		color: white;
	}
	.journal-submenu{
		background: $secondary;
		a{
			color:initial;
		}
	}
}
.pagination li{
	font-family: $heading;
	font-size: 1.3em;
}
.pagination .current{
	background: $pup-darkgold2;
}
select{
	height: 2.5em;
}
.steps{
	border-bottom: 1px dotted $footer-gray;
}
#checklist{
	margin-top:25px;
	border-bottom: 1px dotted $footer-gray;
}
#privacy{
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: 1px dotted $footer-gray;
}
#guide{
	margin: 25px 0 25px 0;
	ul li{
		margin-left: 25px;
	}
}
.submission-section{
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: 1px dotted $footer-gray;
}
#label-checkbox2{
	font-size: 1em;
	margin-left: 25px;
	 display: block;
    padding-left: 20px;
    text-indent: -20px;
}

button.radius, .button.radius {
    border-radius: 3px; }
  button.round, .button.round {
    border-radius: 1000px; }
 label{
 	color: $p-gray;
 }
