//colors
$pup-maroon: #800000;
$pup-maroon2: #952d2d;
$pup-darkgold: #dcaa2a;
$pup-darkgold2: #A98320;
$pup-lightgold: #ffde00;
$footer-gray: #404040;
$footer-darkgray: #1a1919;
$footer-fontlightgray: #7d7d7d;
$body-gray: #cfd4d9;
$p-gray:#58595B;
$line-gray: #676767;
$d6-gray:#d6d6d6;
$facebook-color: #3b579d;
$rss-color: #ff9900;
$twitter-color: #00b6f1;
$youtube-color:#e12b26;
//font
$heading: 'Open Sans', sans-serif;
$brand: 'Lusitana', serif;
$title: 'Cinzel', serif;
